body {
    text-align: center;
    font-family: 'Happy Monkey', system-ui;
}

.blue-bkg {
    background-image: url("../images/footprint-bkg.png");
    background-size: contain;
    background-repeat: repeat;
}


.transparent-box{
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid black;
  }

#louz-img {
    width: 200px;
    border-radius: 50%;
}